@font-face {
    font-family: 'avenir-bold';
    src: asset-url('AvenirNext-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-bold-italic';
    src: asset-url('AvenirNext-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-demi';
    src: asset-url('AvenirNext-DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-demi-italic';
    src: asset-url('AvenirNext-DemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-heavy';
    src: asset-url('AvenirNext-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-heavy-italic';
    src: asset-url('AvenirNext-HeavyItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-italic';
    src: asset-url('AvenirNext-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-medium';
    src: asset-url('AvenirNext-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-medium-italic';
    src: asset-url('AvenirNext-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-regular';
    src: asset-url('AvenirNext-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-ultra';
    src: asset-url('AvenirNext-UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'avenir-ultra-italic';
    src: asset-url('AvenirNext-UltraLightItalic.ttf') format('truetype');
}
